<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cabinet</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
</head>
<body>
<div class="container">
    <div class="row col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h1>Cabinet</h1>
            </div>

            <div class="panel-body">
                <div>
                    <p>You are logged in!</p>
                    <p>Your login: {% if login %} {{ login }} {% else %} Login wasn't found {% endif %}</p>
                </div>

                <form action="{{ path('logout') }}" method="post">
                    <input type="hidden" name="_target_path" value="/login">
                    <button>Logout</button>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>